#W {
  display: flex;
  flex-direction: column;
}
.layer {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.layerNoGap {
  gap: 0 !important;
}

#layer4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.additionalInterruptsSignalsConteiner{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 7rem;
  height: 60px;
}

@media (max-width: 675px) {
  .additionalInterruptsSignalsConteiner { 
    margin-left: 0; 
  }

  .layer:nth-child(2) {
    gap: 0;
  }
}

.additionalInterruptsSignal{
  display: block;
  width: 100%;
}


.layerCenter{
  justify-content: center;
  align-items: center;
}

#wLayout {
  display: grid;
  flex-wrap: wrap;
  padding: 0 40px;
  gap: 10px;
  grid-template-areas:
    'w i p'
    'w i p'
    'c c c';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 2fr 0.73fr auto;
  position: relative;
}
#wLayout > #console {
  grid-area: c;
  width: 100%;
  margin-bottom: 20px;
}
#wLayout > #W {
  grid-area: w;
}
#wLayout > #inputs {
  grid-area: i;
}

.register {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding: 0.125rem 0.5rem;
}
.register > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1195px) {
  #wLayout {
    margin: 10px;
    padding: 5px;
    flex-wrap: nowrap;
    gap: 0;
    grid-template-areas:
      'w w'
      'i i'
      'p p'
      'c c';
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr auto;
  }
  #wLayout > * {
    width: 100%;
  }
  #wLayout > #inputs {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}