#W {
  display: flex;
  flex-direction: column;
}
.layer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#wLayout {
  display: grid;
  flex-wrap: wrap;
  padding: 0 40px;
  gap: 1rem;
  grid-template-areas:
    "w i p"
    "w i p"
    "c c c";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 2fr 0.73fr auto;
}

@media (max-width: 1080px) {
  #wLayout {
    margin: 10px;
    padding: 5px;
    flex-wrap: nowrap;
    grid-template-areas:
      "w w"
      "i p"
      "c c";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
  #wLayout > * {
    width: 100%;
  }
}
#wLayout > #console { grid-area: c; }
#wLayout > #W       { grid-area: w; }
#wLayout > #inputs  { grid-area: i; }

.register {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding: 0.125rem 0.5rem;
}
.register > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
