.fade-backdrop-enter-active {
  transition: opacity 0.15s ease 0.1s;
}
.fade-backdrop-leave-active {
  transition: opacity 0.2s ease;
}

.fade-backdrop-enter-from,
.fade-backdrop-leave-to {
  opacity: 0;
}

.fade-backdrop-enter-to,
.fade-backdrop-leave-from {
  opacity: 1;
}

#popupsBackdrop {
  position: fixed;
  z-index: 99;
  top: 0; left: 0; width: 100%; height: 100%;
  backdrop-filter: blur(0.25rem);
  background-color: rgba(0,0,0,0.25);
}
