:root {
  --topbar-height: calc(43.877px + 1rem);
}

#topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  height: var(--topbar-height);
  box-sizing: border-box;
  width: 100%;
  background-color: #003c7d;
}
#topBar .flexRow {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
}
