.register {
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-content: stretch;
    align-items: stretch;
    padding: 0.125rem 0.5rem;
}

.register > span {
    display: flex;
    justify-content: center;
    align-items: center;
}


#xRegister,
#yRegister {
  display: grid;
  grid-template-areas:
    "in out"
    "r r";
  gap: 0 0.5rem;
}

#xRegister .register,
#yRegister .register {
  grid-area: r;
  border: 1px solid var(--panelOutlineColor, black);
  background-color: var(--panelBackgroundColor, white);
  display: flex;
  justify-content: center;
  padding: 0.125rem 0.5rem;
  border-radius: 0.5rem;
}


#iRegister {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

#iRegister .register {
  border: 1px solid var(--panelOutlineColor, black);
  background-color: var(--panelBackgroundColor, white);
  display: flex;
  justify-content: center;
  padding: 0.125rem 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}

#iRegister .signal {
  flex-grow: 1;
  height: 0.125rem;
}

#iRegister #wyad {
  margin-right: 0.5rem;
}

#iRegister #wei {
  margin-left: 0.5rem;
}

#sa {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

#as {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#memory {
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-template-areas:
    "wea ."
    "aRegister operations"
    "memoryTable operations"
    "sRegister operations"
    "signals .";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto auto;
}

#memory #aRegister {
  grid-area: aRegister;
  border-radius: 0.5rem 0.5rem 0 0;
}


#memory #sRegister {
  grid-area: sRegister;
  border-radius: 0 0 0.5rem 0.5rem ;
}

#memory>.register {
  border: 1px solid var(--panelOutlineColor, black);
  background: var(--panelBackgroundColor, black);
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  justify-content: center;
  padding: 0.125rem 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}

#memoryTable {
  grid-area: memoryTable;
  border: 1px solid var(--panelOutlineColor, black);
  background: var(--panelBackgroundColor, black);
  overflow-y: hidden;

  position: relative;
  resize: both;
  overflow: hidden;
  min-width: 15rem;
  min-height: 15rem;
  height: 20rem;
  width: 25rem;
}

.scrollWrapper {
  border-radius:  0.5rem;
  display: grid;
  overflow-y: auto;
  overflow: auto;
  grid-template-columns: repeat(4, auto);
  overflow-y: auto;
  height: 90%;
  width: 95%;
  margin: 10px 10px; 
}

.scrollWrapper>div {
  min-width: 5rem;
  text-align: right;
  border: 1px solid var(--panelOutlineColor, black);
}

.scrollWrapper>span,
.scrollWrapper>input {
  border: 1px solid var(--panelOutlineColor, black);
  padding: 0.125rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.scrollWrapper>.label {
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: var(--panelBackgroundColor, black);
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 10;
}

.scrollWrapper>.selected {
  border-top: 4px solid var(--signal-active) !important;
  border-bottom: 4px solid var(--signal-active) !important;
  background-color: color-mix(in srgb, transparent, var(--signal-active) 25%);
}

#memory .signals {
  grid-area: signals;
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  justify-content: center;
  align-items: center;
}

#memory .signal {
  height: 0.125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
}

#memory #wea {
  grid-area: wea;
  position: relative;
}

#memory #wes {
  margin-right: 0.25rem;
}

#memory #wys {
  margin-left: 0.25rem;
}

#memory #operations {
  grid-area: operations;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}
