.signal:not(.bus) {
    cursor: pointer;
    user-select: none;
}

@media (hover: hover) and (pointer: fine)  {
  .signal:hover:not(.bus) {
    --signal: var(--signal-hover) !important;
    --signalText: var(--signal-hover) !important;
  }
}
.signal.active {
    --signal: var(--signal-active) !important;
    --signalText: var(--signal-active) !important;
}
